html {
  box-sizing: border-box;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  justify-content: center;
  padding: 10vh 15vh;
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  min-width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  background: #FFD23F;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#root {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;

}

.App {

  margin: 0 ;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  background: #FFD23F;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

header {
  margin: 0 1vh 1vh 1vh;
  color: #3c991d;
  font-size: 7vh;
  background: #3BCEAC;
  font-family: 'Poppins', sans-serif;
}


.flightform {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

main {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

form {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
}

.inputBox {
  margin: 4vh 0;
  padding: 3vh;
  background: #3BCEAC;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: left;

}

button {
  border-style: none;
  background: #3BCEAC;
  font-size: 5vh;
  font-weight: 700;
  color: #3c991d;
  font-family: 'Poppins', sans-serif;
  width: auto;
  height: auto; 
  margin: 4vh 0; 
  padding: 1vh;

}

h1 {
  margin: 1vh;
  color: #3c991d;
  font-size: 5vh;
  background: #3BCEAC;
}

h2 {
  margin: 1vh;
  color: #3c991d;
  background: #3BCEAC;
  font-size: 5vh;
  height: auto;
}

label {
  background: transparent;
  font-size: 3vh;
  color: #3c991d;
  text-align: left;
}

input {
  width: 100%;
  height: 100;
  font-size: 3.5vh;
}

.row {
  display: flex;
  justify-content: space-around;
}

select {
  padding: 1vh;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white;
  border: none;
  border-radius: 3px;
  font-size: 3vh;
  /* overflow: auto; */
  max-width: 100%;

  white-space: nowrap;
  overflow: hidden;
}

/* 
*this css left-aligns the React Datepicker elements
*also of note is that I removed the import of the datepicker css from the datepicker component and added it directly in index.js so I could control the loading order (so I could overwrite the datepicker defaults)
 */
.react-datepicker-wrapper {
  align-content: flex-end;
  display: flex;

}

.react-datepicker__input-container {
  align-content: flex-end;
  display: flex;
}