html {
  box-sizing: border-box;
  margin: 0px;
  height: 100%;
  min-width: 100%;
  justify-content: center;
  padding: 10vh;
}

#root {
  margin: 0;
  min-width: 100%;
  height: 100%;
  justify-content: center;
  
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  background: lightblue;
  /* align-items: center; */
  
}

.App {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  background: lightblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  
}

form {
  display: grid;
  grid-template-rows: 2fr;
  grid-template-columns: 2fr;
}

.inputBox {
  margin: 4vh;
  background: lightblue;
}

.ddate {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.rdate {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.dport {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.aport {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}
